.word-wrapper {
    display: inline-block;
    position: relative;
    padding: 0px 3.5px;
    margin: 2px;
    border-radius: 100px;
}

.word-wrapper span {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.word-wrapper.first {
    margin-right: 0px;
    padding-right: 0px;
}

.keyword.first {
    display: flex;
    padding-right: 8px;
}

.keyword.first::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ff00aa;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: -1;
}

.dark .keyword.first {
    color: black;
}

.keyword.believe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #ff00aa;
    z-index: -1;
}

.dark .keyword.believe {
    color: black;
}

.keyword.minds::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #ffeb3b;
    z-index: -1;
}

.dark  .keyword.minds {
    color: black;
}

.keyword.bright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #00ff33;
    z-index: -1;
}

.dark .keyword.bright {
    color: black;
}


.keyword.faculty::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #1988ff;
    z-index: -1;
}

.dark .keyword.faculty {
    color: black;
}

.dark .keyword.faculty::before {
    background: #00c8ff;
}

.keyword.receive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #ff0000;
    z-index: -1;
}

.dark .keyword.receive {
    color: black;
}

.dark .keyword.receive::before {
    background: #ff0000;
}

.keyword.well-rounded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background-color: #ff9800;
    z-index: -1;
}

.dark .keyword.well-rounded:before {
    background: #ff7b00;
}

.dark .keyword.well-rounded {
    color: black;
}